
#about{
    background: linear-gradient(to right, #2A3448, #2A3448 100%);
}

#about h1{
font-weight: 700;
font-size: 50px;
color: white;
}

#about p{
    font-weight: 500;
    color: white;
}
