@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font-family: 'Merriweather', serif;';
}
#navbar{
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    padding: 0.5rem 0.5rem;
    box-shadow: 5px 5px 20px rgba(0, 0,0,0.5);
    background: black;
    text-color:black;
}
.navbar .navbar-brand{

    font-size: 30px;
    font-weight: 500;
    color: #ffff !important;
    color: white;
}

#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid #2A3448;
}
#navbarSupportedContent button{
    background: #2A3448;
}


